<% layout('layouts/boilerplate') -%>
<h1>Posts Index!</h1>

<!--It will no longer just be posts because posts will just contain
    a bunch of stuff with random properties instead of pointing to an
    array of all the posts. Instead, it will contain info on which page
    in pagination and the limit. We access the post info with .docs
 -->
 <% console.log('YEEEEEEEEEEEEEEEDEEEEEARFAFVAFL'); %>
<% posts.docs.forEach(function(post){%>
<div>
    <h2><%= post.title %></h2>
    <div>Price: <%= post.price%></div>
    <div><%= post.description %></div>
    <div><%= post.location %></div>
    <div><a href="/posts/<%= post.id %>">View more</a></div>
</div>
<%});%>
