<% layout('layouts/boilerplate') -%>
<h1>Posts Index!</h1>
<div id="map"></div>

<% include ../partials/paginatePosts %>

<!--It will no longer just be posts because posts will just contain
    a bunch of stuff with random properties instead of pointing to an
    array of all the posts. Instead, it will contain info on which page
    in pagination and the limit. We access the post info with .docs
 -->
<% posts.docs.forEach(function(post){%>
<div>
    <h2><%= post.title %></h2>
    <div>Price: <%= post.price%></div>
    <div><%= post.description %></div>
    <div><%= post.location %></div>
    <div><a href="/posts/<%= post.id %>">View more</a></div>
</div>
<%});%>

<% include ../partials/paginatePosts %>


<!--How to get local variable to our view and set it to our js variable-->
<script>
    mapboxgl.accessToken = "<%= mapBoxToken %>";
    // on some browsers don't accept const and let
    // mapbox api expects a specific format 
    // We can't directly plug into client side js so we use stringify
    var posts = {features: <%- JSON.stringify(posts.docs) %> };
</script>

<script src="/javascripts/allPostsClusterMap.js"></script>

